*{
    box-sizing: border-box;
}
.container{
    background: red;
    padding: 30px;
}
.contents{
    color: white;
}
.contents:after{
    content: "저는 pc입니다";
}
@media screen and (max-width:767px) {
    /* 모바일 */
    .container{
        background: blue;
    }
    .contents:after{
        content: "저는 모바일 입니다.";
    }
}
@media screen and (min-width:768px) and (max-width: 1023px){
    /* 태블릿 */
    .container{
        background: green;
    }
    .contents:after{
        content: "저는 태블릿 입니다.";
    }
}